<%- include ('../partials/header'); -%>
<% if (user){ %>

<div class="padding5">

<form action="/bfirstt/<%=user.id%>/?_method=PUT" method="post">
<input class="input1" type="email" name="username" placeholder="email" value="<%=user.username%>" disabled>
<input class="input1" type="text" name="name" placeholder="name" value="<%=user.name%>" onkeydown="texx(this);" onkeyup="texx(this);" required>
<input class="input1" type="number" name="mobile" placeholder="Mobile" value="<%=user.mobile%>" onkeydown="limit(this);" onkeyup="limit(this);" required>
<input class="input1" type="text" name="addline1" placeholder="Address line one" value="<%=user.addline1%>" onkeydown="texx(this);" onkeyup="texx(this);" required>
<input class="input1" type="text" name="addline2" placeholder="Address line two" value="<%=user.addline2%>" onkeydown="texx(this);" onkeyup="texx(this);" required>
<input class="input1" type="text" name="city" placeholder="City" value="<%=user.city%>" onkeydown="texx(this);" onkeyup="texx(this);" required>
<input class="input1" type="Number" name="zipcode" placeholder="Zipcode" onkeydown="limitt(this);" onkeyup="limitt(this);" value="<%=user.zipcode%>" required>
<input class="input1" type="text" name="state" placeholder="state" value="<%=user.state%>" onkeydown="texx(this);" onkeyup="texx(this);" required>
<select class="input1" name="country" size="1" placeholder="Country"  required>
  <option value="India" selected>India</option>
</select>
<button class="buttonDes">Proceed</button>
</form>

</div>

<% } else { %>

  <div class="padding5">

  <form action="/bfirst" method="post">
  <input class="input1" type="email" name="username" placeholder="email" value="" required>
  <input class="input1" type="text" name="name" placeholder="name" value="" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="number" name="mobile" placeholder="Mobile" onkeydown="limit(this);" onkeyup="limit(this);" required>
  <input class="input1" type="text" name="addline1" placeholder="Address line one" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="text" name="addline2" placeholder="Address line two" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="text" name="city" placeholder="City" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <input class="input1" type="Number" name="zipcode" placeholder="Zipcode" onkeydown="limitt(this);" onkeyup="limitt(this);" required>
  <input class="input1" type="text" name="state" placeholder="state" onkeydown="texx(this);" onkeyup="texx(this);" required>
  <select class="input1" name="country" size="1" placeholder="Country" required>
    <option value="India" selected>India</option>
  </select>

  <button class="input2">Proceed</button>
  </form>


</div>

<% } %>

<%- include ('../partials/footer'); -%>
